.background-color-primary {
    background: var(--primary-color);
}

.navbar {
    background-color: #fff !important;
}

.login-wrap {
    /* height: 484px; */
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 60px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 60px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 60px -6px rgba(0, 0, 0, 0.75);
}

.message {
    animation: fadeIn linear .3s;
}

.btn_login {
    background-color: var(--primary-color);
    color: #fff;
    width: 100%;
}

.btn_login:hover {
    background-color: var(--hover-color) !important;
}

.form-group {
    margin: 28px 0;
    position: relative;
}

.form-control {
    box-shadow: none !important;
    border: 1px solid #9c9c9c;
    border-radius: 0 !important;
    margin: auto;
}

.lblForm {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
    z-index: -1;
}

.lblForm::before {
    content: attr(data-placeholder);
    color: #9c9c9c;
    transition: 0.5s;
    font-size: 1rem;
}

.focus {
    top: -10px;
    margin-left: 12px;
    transition: 0.5s;
}

.focus::before {
    color: var(--primary-color);
    transition: 0.5s;
    font-size: 1.1rem;
}

.form-group, .form-control {
    background: none !important;
    z-index: 1;
}

.form-control {
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
}

#message_err, #message_success {
    display: none;
}

.log-link {
    text-decoration: none !important;
    color: var(--primary-color);
}

.log-link:hover {
    color: var(--hover-color);
    text-decoration: underline !important;
}

@media only screen and (max-width: 600px) {
    .brand_logo {
        display: none !important;
    }
    .brand_logo img {
        display: none !important;
    }
}