/* THÀNH PHẦN DÙNG CHUNG */

@font-face {
    src: url('../font/Signika/static/Signika-Regular.ttf');
    font-family: "Signika";
}

:root {
    --primary-color: #4A5FC1;
    --hover-color: #3652ce;
    --text-color: #4d4d4d;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Signika", sans-serif;
    box-sizing: border-box;
}

ol, ul {
    list-style: none !important;
}

/*  =====================================
                    HEADER 
    =====================================*/

.navbar-home {
    background-image: linear-gradient(var(--primary-color), var(--hover-color));
}

.header_user {
    height: 25px;
    background: var(--primary-color);
    font-size: 14px;
    font-weight: 200;
    align-items: center;
}

.header_item-link {
    color: #fff;
    padding: 0 3px;
    font-size: 16px;
}

.header_item-link:hover {
    color: #d6d6d6;
    text-decoration: none;
}

.header_item {
    margin: 0 10px;
    cursor: default !important;
    color: #fff;
}

.link-user a {
    color: #fff;
}

.link-user:hover a {
    color: #d6d6d6;
}

.link-user {
    display: flex;
    position: relative;
    align-items: center;
    color: #fff;
}

.header__user-separator {
    content: "";
    width: 0.8px;
    background: #ffffff;
    height: 15px;
    position: absolute;
    top: 10px;
    right: 0;
}

/* SEARCH BAR */

.navbar-search {
    background: #fff;
    flex: 1;
    height: 40px;
    margin: 0 20px 0 20px;
    border-radius: 4px;
    align-items: center;
}

#input-search {
    border: none;
    outline: none;
    font-size: 14pt;
    padding: 0 10px;
    color: var(--text-color);
    flex: 1;
}

.btn-search {
    color: #fff;
    font-size: 14pt;
    background: var(--primary-color);
    outline: none !important;
    box-shadow: none !important;
    height: 34px;
    width: 62px;
    position: relative;
    margin: 0 3px;
}

.btn-search i {
    position: absolute;
    top: 6px;
    right: 21px;
}

/* RESPONSIVE HEADER */

@media only screen and (max-width: 500px) {
    .header_left {
        display: none !important;
    }
}

/*  =====================================
                    CAROUSEL 
    =====================================*/

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
}

.content_web {
    margin-top: 2px;
}

.carousel-indicators .active {
    background-color: var(--primary-color);
}

/*  =====================================
                CONTENT WEB 
    =====================================*/

.content {
    margin-top: 20px;
}

.card-product {
    width: 98% !important;
    height: 95% !important;
}

.card-img-top {
    height: 60% !important;
}

.card-text {
    font-size: 10pt !important;
    color: var(--text-color);
}

/* PAGINATION */

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.page-item.active .page-link:hover {
    background-color: var(--hover-color) !important;
    border-color: var(--hover-color) !important;
}

/*  =====================================
                    FOOTER 
    =====================================*/

.footer {
    margin-top: 20px;
    background-color: #fff;
    padding-top: 16px;
    border-top: 3px solid var(--primary-color);
}

.footer__heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #494949;
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none !important;
    font-size: 1rem;
    color: #737373;
    padding-top: 2px 0;
    display: flex;
    align-items: center;
}

.footer-item__icon1 {
    font-size: 1.2rem;
    position: relative;
    top: -1px;
    padding-right: 6px;
}

.footer-item__icon {
    font-size: 1.2rem;
    position: relative;
    top: -1px;
    padding-right: 8px;
}

.footer__bottom {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
}

.footer__bottom-lincense-img {
    height: 48px;
}

.footer__text {
    margin: 0;
    text-align: center;
    font-size: 1rem;
    color: #727272;
}

.footer__text-lincense {
    text-align: center;
    font-size: 1rem;
    color: #6B6B7A;
}

.footer__down {
    text-align: center;
    background-color: #fff;
}