/* THÀNH PHẦN DÙNG CHUNG */

@font-face {
    src: url('../font/Signika/static/Signika-Regular.ttf');
    font-family: "Signika";
}

:root {
    --primary-color: #4A5FC1;
    --hover-color: #3652ce;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Signika", sans-serif;
    box-sizing: border-box;
}

ol, ul {
    list-style: none !important;
}

/*  =====================================
                    HEADER 
    =====================================*/

.navbar {
    background-color: var(--primary-color) !important;
}

/*  =====================================
                    FOOTER 
    =====================================*/

.footer {
    background-color: #fff;
    padding-top: 16px;
    border-top: 3px solid var(--primary-color);
}

.footer__heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #494949;
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none !important;
    font-size: 1rem;
    color: #737373;
    padding-top: 2px 0;
    display: flex;
    align-items: center;
}

.footer-item__icon1 {
    font-size: 1.2rem;
    position: relative;
    top: -1px;
    padding-right: 6px;
}

.footer-item__icon {
    font-size: 1.2rem;
    position: relative;
    top: -1px;
    padding-right: 8px;
}

.footer__bottom {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
}

.footer__bottom-lincense-img {
    height: 48px;
}

.footer__text {
    margin: 0;
    text-align: center;
    font-size: 1rem;
    color: #727272;
}

.footer__text-lincense {
    text-align: center;
    font-size: 1rem;
    color: #6B6B7A;
}

.footer__down {
    text-align: center;
    background-color: #fff;
}